@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,700,800&display=swap');

/********** SCROLLBAR ***************/

/* total width */
body::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:#fff
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #011627;
    border-radius:16px;
    border:4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

/********** BASE ***************/
#movie {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  align-content: space-between;
  padding: 90px;
}

.logo-companies {
  position: absolute;
  right: 70px;
  top: 35px;
}

.logo-companies > img {
  border-radius: 10px;
}

.back-arrow {
  width: 35px !important;
  height: 43px !important;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.back-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.movie-infos {
  position: relative;
}

.back-arrow {
  justify-self: flex-start;
}

.main-movie-details {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  opacity: 0.75;
}

.main-movie-rating {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

.rating {
  font-size: 15px;
  color: #fff;
  opacity: 0.6;
}

.main-movie-title {
  font-weight: 700 !important;
}

* {
  box-sizing: border-box !important;
}

.content {
  height: 500px;
}

body {
  background-color: #000000 !important;
  font-family: 'Nunito', sans-serif !important;
}

h1 {
  font-size: 50px !important;
  color: #fff;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

.slick-slide {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.col-form-label {
  color: white;
  font-size: 16px;
}

.search-btn:focus {
  border: none;
  outline: none;
}

.search-btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background: #222;
  padding: 15px 60px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.search-btn span {
  position: relative;
  z-index: 1;
}

.search-btn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #01d277;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.search-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/********** NAVBAR ***************/

nav {
  background-color: rgba(0, 0, 0, 0.75) !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none !important;
}

.navbar .nav-link {
  border: none !important;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.fixed-top {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.logo-container {
  margin-left: 30px;
}

.nav-link {
  padding-bottom: 5px !important;
  margin-bottom: 11px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown > .dropdown:active {
  pointer-events: none;
}

.fixed-top-fixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/********** NAVBAR-&-CAROUSEL SHADOWS ***************/

.shadow {
  position: absolute;
  width: 70px;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(70%, rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
}

.shadow2 {
  position: absolute;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
}

.shadow3 {
  position: absolute;
  height: 15px;
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

/********** TOP-CAROUSEL ***************/
.carousel {
  margin-bottom: 80px;
  margin-top: 75px;
}

.carousel::after {
  content: '';
  position: absolute;
  width: 70px;
  background: -webkit-gradient(
    linear,
    right top, left top,
    from(rgba(0, 0, 0, 0)),
    color-stop(70%, rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 70%
  );
  top: 0;
  bottom: 0;
}

.carousel-img {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  height: 36rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators li {
  background-clip: initial !important;
  border-bottom: none !important;
  height: 2px !important;
  border-top: 3px solid transparent !important;
}

.carousel-caption {
  text-align: left !important;
  margin-bottom: 50px;
}

.movie-det {
  margin-right: 6px;
  font-size: 16.5px;
}

/********** SLICK-CAROUSEL ***************/

.card {
  background-color: #000000 !important;
  overflow: hidden;
  box-sizing: border-box !important;
  position: relative;
}

.card-movie-title {
  margin: 0 !important;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.card-small-title {
  margin: 0 !important;
  color: #fff;
  font-size: 16.5px;
  white-space: nowrap;
}

.card-body {
  height: 50px !important;
}

.card-movie-title:hover {
  cursor: pointer;
}

.card-small-title:hover {
  cursor: pointer;
}

.card-img {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card-img:hover {
  opacity: 0.55 !important;
  cursor: pointer;
}

.card-details {
  white-space: nowrap;
}

.card-small-details {
  font-size: 14.5px !important;
  white-space: nowrap;
}

.movies-category {
  color: #fff;
}

.shadow-next {
  position: absolute;
  width: 100px;
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.shadow-prev {
  position: absolute;
  width: 70px;
  background: -webkit-gradient(
    linear,
    right top, left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.slider-movies {
  position: relative;
  margin-bottom: 80px;
}

.slider-shows-search {
  position: relative;
}

.slider-movies-search {
  position: relative;
}

.prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 15px;
  height: 25px;
  width: 25px;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block !important;
}

.prev:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2301d277' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.next {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 15px;
  width: 25px;
  height: 25px;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block !important;
}

.next:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2301d277' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.next:hover,
.prev:hover {
  cursor: pointer;
}

/******* JUMBOTRON ********/

.jumbotron {
  background-size: cover;
  background-image: url(/jumbotron.104cebb4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 370px;
  border: none !important;
}

.dropdown-menu {
  background-color: #081c24;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 1);
  border: none !important;
  border-radius: 0.45rem;
}

/******* PAGINATION ********/

.page-link {
  margin: 3px;
}

.pagination {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 30px;
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#pagination-container {
  visibility: hidden;
}

/******* CARD-SEARCH ********/

.card-v2 {
  background-color: #000000 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 450px;
  margin-bottom: 50px;
  overflow: hidden;
  margin-left: 5px;
  box-sizing: border-box !important;
  position: relative;
}

.btn-dark:hover {
  cursor: pointer !important;
}

.card-v2 .poster {
  position: relative;
  overflow: hidden;
}

.card-v2 .poster:before {
  content: '';
  position: absolute;
  bottom: -180px;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), to(transparent));
  background: linear-gradient(0deg, #000 50%, transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.card-v2:hover .poster:before {
  bottom: 0;
}

.card-v2 .poster img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.card-v2:hover .poster img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 80%;
  bottom: -225px;
  left: 0;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.card-v2:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  padding: 10px, 0;
  margin: 5px 0px 5px 0px;
}

.rating span {
  color: #fff;
  padding: 0 2px;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
}

.more-info {
  position: relative;
}

.fa-star {
  color: yellow;
}

#moviesList {
  width: 93%;
  margin: 0 auto;
}

.no-results {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 35px !important;
  }

  .logo-container {
    margin: 0 !important;
  }

  .logo-container img {
    width: 110px;
  }

  .nav .navlink,
  #navbarDropdownMenuLink {
    margin: 0 !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .movies-category {
    margin-left: 1rem !important;
  }

  .shadow-prev {
    width: 0px !important;
    display: none !important;
  }

  .row {
    margin-left: 1rem !important;
  }

  .carousel-img {
    height: 19rem;
  }

  .navbar .nav-item.active .nav-link {
    border: none !important;
  }
}


/*# sourceMappingURL=/css.967bad95.css.map */