@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,700,800&display=swap');


/********** BASE ***************/

* {
  box-sizing: border-box !important;
}

body {
  background-color: #000000 !important;
  font-family: 'Nunito', sans-serif !important;
}

h1 {
  font-size: 50px !important;
  color: #fff;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

/********** NAVBAR ***************/

nav {
  background-color: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(5px);
}

.navbar .nav-link {
  border: none !important;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.fixed-top {
  position: sticky !important;
}

.logo-container {
  margin-left: 30px;
}

.nav-link {
  padding-bottom: 5px !important;
  margin-bottom: 11px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.fixed-top-fixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/********** NAVBAR-&-CAROUSEL SHADOWS ***************/

.shadow {
  position: absolute;
  width: 70px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
}

.shadow2 {
  position: absolute;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
}

.shadow3 {
  position: absolute;
  height: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}


/********** TOP-CAROUSEL ***************/
.carousel {
  margin-bottom: 80px;
  margin-top: 75px;
}

.carousel::after {
  content: '';
  position: absolute;
  width: 70px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
  top: 0;
  bottom: 0;
}

.carousel-img {
  filter: brightness(60%);
  height: 36rem;
  object-fit: cover;
}

.carousel-indicators li {
  background-clip: initial !important;
  border-bottom: none !important;
  height: 2px !important;
  border-top: 3px solid transparent !important;
}

.carousel-caption {
  text-align: left !important;
  margin-bottom: 50px;
}

.movie-det {
  margin-right: 6px;
  font-size: 16.5px;
}

/********** SLICK-CAROUSEL ***************/

.card {
  background-color: #000000 !important;
  overflow: hidden;
  box-sizing: border-box !important;
  position: relative;
}

.card-movie-title {
  margin: 0 !important;
  color: #fff;
  font-size: 19px;
  white-space: nowrap;
}

.card-body {
  height: 50px !important;
}

.card-movie-title:hover {
  cursor: pointer;
}

.card-img {
  opacity: 1;
  transition: all 0.2s ease;
}

.card-img:hover {
  opacity: 0.55 !important;
  cursor: pointer;
}

.card-details {
  white-space: nowrap;
}

.movies-category {
  color: #fff;
}

.shadow-next {
  position: absolute;
  width: 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.shadow-prev {
  position: absolute;
  width: 70px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.slider-movies {
  position: relative;
  margin-bottom: 80px;
}

.slider-shows-search {
  position: relative;
}

.slider-movies-search {
  position: relative;
}

.prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 15px;
  font-size: 2rem;
  color: white;
  transition: all 0.2s ease;
  display: block !important;
}

.next {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 15px;
  font-size: 2rem;
  color: white;
  transition: all 0.2s ease;
  display: block !important;
}

.next:hover, .prev:hover {
  color: rgb(1, 210, 119);
  cursor: pointer;
}


/******* JUMBOTRON ********/


.jumbotron {
  background-size: cover;
  background-image: url(../../images/jumbotron.jpg);
  background-repeat: no-repeat; 
  background-position: center center;
  height: 370px;
  border: none !important;
}


/******* PAGINATION ********/

.page-link {
  margin: 3px;
}

.pagination {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 30px;
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#pagination-container {
  visibility: hidden;
}

/******* CARD-SEARCH ********/

.card-v2 {
  background-color: #000000 !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 450px;
  margin-bottom: 50px;
  overflow: hidden;
  margin-left: 5px;
  box-sizing: border-box !important;
  position: relative;
}

.card-v2 .poster {
  position: relative;
  overflow: hidden;
}

.card-v2 .poster:before {
  content: '';
  position: absolute;
  bottom: -180px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card-v2:hover .poster:before {
  bottom: 0;
}

.card-v2 .poster img {
  width: 100%;
  transition: 0.5s;
  border-radius: 5px;
}

.card-v2:hover .poster img {
  filter: blur(2px);
  transform: translateY(-80px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 80%;
  bottom: -195px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card-v2:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  padding: 10px, 0;
  margin: 5px 0px 5px 0px;
}

.rating span {
  color: #fff;
  padding: 0 2px;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
}

.more-info {
  position: relative;
}

.fa-star {
  color: yellow;
}

#moviesList {
  width: 93%;
  margin: 0 auto;
}

.no-results {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px){
  h1 {
    font-size: 35px !important;
  }

  .logo-container {
    margin: 0 !important;
  }

  .logo-container img {
    width: 110px;
  }
  
  .nav .navlink, #navbarDropdownMenuLink {
    margin: 0 !important;
  }

  .slick-arrow {
    display:none !important;
  }

  .movies-category {
    margin-left: 1rem !important;
  }

  .shadow-prev {
    width: 0px !important;
    display: none !important;
  }

  .row {
    margin-left: 1rem !important;
  }

  .carousel-img {
    height: 19rem;
  }

  .navbar .nav-item.active .nav-link {
    border: none !important;
  }

}